<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    {% include head.html %}
</head>

<body>
    <main>
        <table class="tablesorter">
            <thead>
                <tr>
                    <th>Assignatura</th>
                    <th>Activitat</th>
                    <th data-sorter="shortDate" data-date-format="ddmmyyyy">Data d'inici</th>
                    <th data-sorter="shortDate" data-date-format="ddmmyyyy">Data de fi</th>
                    <th>Duració</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>
</body>

</html>
